body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

::selection {
  background-color: lighten(theme-color(primary), 40%);
}

a {
  display: inline-block;
  position: relative;
  z-index: 20;
  transition: $transition-base;

  &[class] {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

button,
select {
  -webkit-appearance: none;
  padding: 0;
  background: none;
  border: 0;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

pre {
  white-space: pre-wrap;
}

address {
  margin-bottom: 0;
}

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

p {
  max-width: 680px;
  font-size: rem(14px);
  line-height: 1.8;
  letter-spacing: rem(1.41px);
}

.container {
  max-width: 100%;

  @include media-breakpoint-up(md) {
    padding-right: rem($grid-gutter-width);
    padding-left: rem($grid-gutter-width);
  }

  @include media-breakpoint-up(xl) {
    max-width: map-get($container-max-widths, xl);
  }
}

.back-title {
  font-family: $headings-secondary-font-family;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: .1rem;
  font-size: 50vh;
  opacity: .25;
}
