$button-size: 40px;
$button-padding-x: 20px;

.button {
  display: inline-block;
  position: relative;
  height: rem($button-size);
  align-items: center;
  padding-right: rem($button-padding-x);
  padding-left: rem($button-padding-x);
  overflow: hidden;
  font-family: $font-family-sans-serif;
  font-size: rem(12px);
  line-height: rem($button-size);
  text-transform: none;
  letter-spacing: rem(2.1px);
  border-radius: rem($button-size / 2);
  transition: all 200ms ease-in-out;

  &[disabled] {
    pointer-events: none;
  }

  // Color variants
  @each $key, $value in $theme-colors {
    &--#{$key} {
      color: theme-color(dark);
      background-color: theme-color(#{$key});

      &:hover,
      &:focus {
        color: theme-color(dark);
        background-color: lighten(theme-color(#{$key}), 10%);
      }

      &[disabled] {
        color: rgba(theme-color(dark), .25);
        background-color: rgba(gray(900), .75);
      }
    }

    &--#{$key}.button--outline {
      background-color: transparent;
      box-shadow: 0 0 0 rem(2px) theme-color(#{$key}) inset;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 rem(2px) lighten(theme-color(#{$key}), 10%) inset;
      }

      &[disabled] {
        box-shadow: 0 0 0 .125rem darken(theme-color(#{$key}), 45%) inset;
      }
    }
  }

  &--outline {
    color: theme-color(light);
    background: transparent;
    box-shadow: 0 0 0 rem(2px) theme-color(primary) inset;
  }

  // Size variants
  &--sm {
    height: rem($button-size);
    padding-right: rem(25px);
    padding-left: rem(25px);
    border-radius: rem($button-size / 2);
  }
}
