@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(1.5em);
  }
}

.splitting .word {
  display: inline-block;
  animation: fade-up 1s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(60ms * var(--line-index));
}
